---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-quota-minute:
      - '10'
      x-ratelimit-remaining-quota-minute:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"quotas":{"month":{"total":300,"used":1,"remaining":299},"grace":{"total":0,"used":0,"remaining":0}}}'
  recorded_at: Sun, 09 Oct 2022 15:34:27 GMT
recorded_with: VCR 6.1.0
