---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/historical?base_currency=SGD&currencies=IDR%2CMYR&date=2022-07-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      charset:
      - utf-8
      x-limit:
      - '1'
      x-execution-time:
      - '45.57'
      x-ratelimit-limit-monthly-month:
      - '300'
      x-ratelimit-remaining-quota-month:
      - '279'
      x-ratelimit-limit-quota-minute:
      - '10'
      x-ratelimit-remaining-quota-minute:
      - '10'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2022-07-07T23:59:59Z"},"data":{"IDR":{"code":"IDR","value":10686.726107},"MYR":{"code":"MYR","value":3.162197}}}'
  recorded_at: Sun, 16 Oct 2022 08:22:50 GMT
recorded_with: VCR 6.1.0
