---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/historical?base_currency=USD&date=2022-07-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      charset:
      - utf-8
      x-limit:
      - '1'
      x-execution-time:
      - '32.42'
      x-ratelimit-limit-monthly-month:
      - '300'
      x-ratelimit-remaining-quota-month:
      - '281'
      x-ratelimit-limit-quota-minute:
      - '10'
      x-ratelimit-remaining-quota-minute:
      - '10'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2022-07-07T23:59:59Z"},"data":{"AED":{"code":"AED","value":3.67317},"AFN":{"code":"AFN","value":87.90092},"ALL":{"code":"ALL","value":116.03264},"AMD":{"code":"AMD","value":409.38981},"ANG":{"code":"ANG","value":1.8021},"AOA":{"code":"AOA","value":429.5237},"ARS":{"code":"ARS","value":126.5167},"AUD":{"code":"AUD","value":1.46053},"AWG":{"code":"AWG","value":1.79755},"AZN":{"code":"AZN","value":1.70003},"BAM":{"code":"BAM","value":1.91913},"BBD":{"code":"BBD","value":2.01891},"BDT":{"code":"BDT","value":93.46496},"BGN":{"code":"BGN","value":1.92347},"BHD":{"code":"BHD","value":0.37701},"BIF":{"code":"BIF","value":2058.27737},"BMD":{"code":"BMD","value":1.00003},"BND":{"code":"BND","value":1.40003},"BOB":{"code":"BOB","value":6.88426},"BRL":{"code":"BRL","value":5.33983},"BSD":{"code":"BSD","value":0.99989},"BTC":{"code":"BTC","value":7092.86553},"BTN":{"code":"BTN","value":79.17114},"BWP":{"code":"BWP","value":12.59329},"BYN":{"code":"BYN","value":2.5703},"BYR":{"code":"BYR","value":19600},"BZD":{"code":"BZD","value":2.01549},"CAD":{"code":"CAD","value":1.29688},"CDF":{"code":"CDF","value":2002.52121},"CHF":{"code":"CHF","value":0.97391},"CLF":{"code":"CLF","value":0.03449},"CLP":{"code":"CLP","value":951.79493},"CNY":{"code":"CNY","value":6.70216},"COP":{"code":"COP","value":4381.07549},"CRC":{"code":"CRC","value":687.03146},"CUC":{"code":"CUC","value":1.00498},"CUP":{"code":"CUP","value":23.99772},"CVE":{"code":"CVE","value":108.1969},"CZK":{"code":"CZK","value":24.35739},"DJF":{"code":"DJF","value":177.72426},"DKK":{"code":"DKK","value":7.31831},"DOP":{"code":"DOP","value":54.75476},"DZD":{"code":"DZD","value":147.02115},"EGP":{"code":"EGP","value":18.8833},"ETB":{"code":"ETB","value":52.16702},"EUR":{"code":"EUR","value":0.98347},"FJD":{"code":"FJD","value":2.21199},"GBP":{"code":"GBP","value":0.83145},"GEL":{"code":"GEL","value":2.94006},"GHS":{"code":"GHS","value":8.02911},"GMD":{"code":"GMD","value":54.09103},"GNF":{"code":"GNF","value":8684.53809},"GTQ":{"code":"GTQ","value":7.74921},"GYD":{"code":"GYD","value":209.19262},"HKD":{"code":"HKD","value":7.84771},"HNL":{"code":"HNL","value":24.58127},"HRK":{"code":"HRK","value":7.39415},"HTG":{"code":"HTG","value":115.75299},"HUF":{"code":"HUF","value":396.10464},"IDR":{"code":"IDR","value":14964.94317},"ILS":{"code":"ILS","value":3.46755},"INR":{"code":"INR","value":79.22272},"IQD":{"code":"IQD","value":1459.36697},"IRR":{"code":"IRR","value":42350.71852},"ISK":{"code":"ISK","value":137.00379},"JMD":{"code":"JMD","value":150.84005},"JOD":{"code":"JOD","value":0.70902},"JPY":{"code":"JPY","value":135.91816},"KES":{"code":"KES","value":118.10304},"KGS":{"code":"KGS","value":82.37641},"KHR":{"code":"KHR","value":4073.68114},"KMF":{"code":"KMF","value":464.62987},"KRW":{"code":"KRW","value":1298.02123},"KWD":{"code":"KWD","value":0.3075},"KYD":{"code":"KYD","value":0.83328},"KZT":{"code":"KZT","value":479.05683},"LAK":{"code":"LAK","value":15042.18014},"LBP":{"code":"LBP","value":1512.00581},"LKR":{"code":"LKR","value":359.96322},"LRD":{"code":"LRD","value":152.50168},"LSL":{"code":"LSL","value":15.84018},"LTL":{"code":"LTL","value":2.95274},"LVL":{"code":"LVL","value":0.60489},"LYD":{"code":"LYD","value":4.86558},"MAD":{"code":"MAD","value":10.16036},"MDL":{"code":"MDL","value":19.25809},"MGA":{"code":"MGA","value":4092.86829},"MKD":{"code":"MKD","value":60.62978},"MMK":{"code":"MMK","value":1851.28496},"MOP":{"code":"MOP","value":8.08252},"MRO":{"code":"MRO","value":356.999828},"MUR":{"code":"MUR","value":45.85507},"MVR":{"code":"MVR","value":15.35023},"MWK":{"code":"MWK","value":1026.3231},"MXN":{"code":"MXN","value":20.49753},"MYR":{"code":"MYR","value":4.42812},"MZN":{"code":"MZN","value":63.83089},"NAD":{"code":"NAD","value":15.84027},"NGN":{"code":"NGN","value":415.2673},"NIO":{"code":"NIO","value":35.8512},"NOK":{"code":"NOK","value":10.07717},"NPR":{"code":"NPR","value":126.6732},"NZD":{"code":"NZD","value":1.6186},"OMR":{"code":"OMR","value":0.385},"PAB":{"code":"PAB","value":0.9999},"PEN":{"code":"PEN","value":3.89519},"PGK":{"code":"PGK","value":3.52387},"PHP":{"code":"PHP","value":56.06637},"PKR":{"code":"PKR","value":207.42566},"PLN":{"code":"PLN","value":4.70288},"PYG":{"code":"PYG","value":6857.15694},"QAR":{"code":"QAR","value":3.64104},"RON":{"code":"RON","value":4.86229},"RSD":{"code":"RSD","value":115.40119},"RUB":{"code":"RUB","value":63.07564},"RWF":{"code":"RWF","value":1023.08415},"SAR":{"code":"SAR","value":3.75405},"SBD":{"code":"SBD","value":8.16006},"SCR":{"code":"SCR","value":14.11152},"SDG":{"code":"SDG","value":456.50875},"SEK":{"code":"SEK","value":10.51992},"SGD":{"code":"SGD","value":1.40033},"SHP":{"code":"SHP","value":1.37744},"SLL":{"code":"SLL","value":13170.21963},"SOS":{"code":"SOS","value":584.5064},"SRD":{"code":"SRD","value":22.40212},"STD":{"code":"STD","value":20697.981008},"SVC":{"code":"SVC","value":8.74879},"SZL":{"code":"SZL","value":16.73782},"THB":{"code":"THB","value":36.0795},"TJS":{"code":"TJS","value":10.54883},"TMT":{"code":"TMT","value":3.51004},"TND":{"code":"TND","value":3.06355},"TOP":{"code":"TOP","value":2.35896},"TRY":{"code":"TRY","value":17.26415},"TTD":{"code":"TTD","value":6.78992},"TWD":{"code":"TWD","value":29.75302},"TZS":{"code":"TZS","value":2331.75279},"UAH":{"code":"UAH","value":29.5403},"UGX":{"code":"UGX","value":3764.56544},"USD":{"code":"USD","value":1},"UYU":{"code":"UYU","value":40.19137},"UZS":{"code":"UZS","value":10886.71703},"VND":{"code":"VND","value":23355.56137},"XAF":{"code":"XAF","value":643.64786},"XCD":{"code":"XCD","value":2.70259},"XDR":{"code":"XDR","value":0.75811},"XOF":{"code":"XOF","value":643.6516},"XPF":{"code":"XPF","value":113.15303},"YER":{"code":"YER","value":250.25357},"ZAR":{"code":"ZAR","value":16.72129},"ZMK":{"code":"ZMK","value":9001.2},"ZMW":{"code":"ZMW","value":16.32321},"ZWL":{"code":"ZWL","value":321.999592}}}'
  recorded_at: Sun, 16 Oct 2022 08:17:51 GMT
recorded_with: VCR 6.1.0
